@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: #ffff;
}
.a{
    color: inherit;
}
.social{
    padding: 5px 0;
    background-color: #333237;
}
.social a{
    font-family: 'Public Sans';
    display: inline-block;
    color: #ffff;
    margin-right: 10px;
    transition: 0.2s;
}
.social a:hover{
    color: blue;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container:after{
    content:'';
    display: block;
    clear: both;
}
.navbar{
    background-color: black;
}
header{
    margin: 0px 0px;
    font-family: 'Public Sans';
}
header h1{
    padding: 15px 0px;
    float: left;
}
header a{
    color:#ffff;
}
header h1 a{
    
    transition: 0.3s;
}
header h1 a:hover{
    color: rgb(10, 0, 155);
}
header ul{
    float: right;
}
.navbar ul li a{
    font-family: 'Public Sans';
    display: inline-block;
    margin: 25px 5px;
    padding: 10px;
    font-size: 20px;
    transition: 0.2s;
}
.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.301);
    color: #ffff;
    padding: 25px 20px;
    border-radius: 15px;
}
.image{
    position: absolute;
    width: 400px;
    margin: 180px 100px;
}
.image img{
    display: block;
    width: 90%;
    border: 1px solid;
    color: #ffff;
    border-radius: 3px; 
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90.5%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-family: open sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.overlay:hover > *{
    transform: translateY(0);
}
.overlay:hover{
    opacity: 1;
}
.title{
    font-weight: bold;
}
.image2{
    position:absolute;
    width: 400px;
    height: 210px;
    margin: 180px 500px;
}
.image2 img{
    display: block;
    width: 90%;
    height: 90%;
    border: 1px solid;
    color: #ffff;
    border-radius: 3px;
}
.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90.5%;
    height: 91%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-family: open sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.overlay2 > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.overlay2:hover > *{
    transform: translateY(0);
}
.overlay2:hover{
    opacity: 1;
}
.title2{
    font-weight: bold;
}