@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    background: black;
}
.a{
    color: inherit;
}
.social{
    padding: 5px 0;
    background-color: #333237;
}
.social a{
    font-family: 'Public Sans';
    display: inline-block;
    color: #ffff;
    margin-right: 10px;
}
.social a:hover{
    color: black;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container:after{
    content:'';
    display: block;
    clear: both;
}
.navbar{
    background-color: black;
}
header{
    padding: 10px 0;
    font-family: 'Public Sans';
}
header h1{
    padding: 20px 0px;
    float: left;
}
header a{
    color:#ffff;
}
header ul{
    float: right;
}
.navbar ul li a{
    font-family: 'Public Sans';
    display: inline-block;
    padding: 25px 20px;
    font-size: 20px;
    transition: 0.2s;
}
.navbar ul li a:hover{
    background-color: #ffff;
    color: black;
    border-radius: 200px;
}
.news img#gc{
    width: 389px;
    height: 200px;
    margin: 150px 50px;
    border: 1px solid;
    color: rgb(110, 1, 1);
}
.news img#ov{
    position: absolute;
    width: 400px;
    height: 200px;
    margin: 151px 45px;
    opacity: 0;
    transition: 0.4s;
}
.news img#ov:hover{
    opacity: 0.4;
}